In [1]:
import mysql.connector

# Create a connection to the MySQL server
cnx = mysql.connector.connect(user='root', password='*', host='127.0.0.1', database='Python_CRM_Project')

In [2]:
# Create a cursor to execute SQL commands
cursor = cnx.cursor()

# Create the 'contacts' table
cursor.execute("""CREATE TABLE contacts (
                    id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
                    first_name VARCHAR(50),
                    last_name VARCHAR(50),
                    email VARCHAR(100),
                    phone VARCHAR(20),
                    account_id INT(11),
                    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
                 )""")

# Create the 'accounts' table
cursor.execute("""CREATE TABLE accounts (
                    id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
                    name VARCHAR(100),
                    website VARCHAR(100),
                    phone VARCHAR(20),
                    billing_street VARCHAR(100),
                    billing_city VARCHAR(50),
                    billing_state VARCHAR(50),
                    billing_country VARCHAR(50),
                    billing_postal_code VARCHAR(20),
                    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
                 )""")

# Create the 'opportunities' table
cursor.execute("""CREATE TABLE opportunities (
                    id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
                    name VARCHAR(100),
                    amount DECIMAL(10,2),
                    stage VARCHAR(50),
                    close_date DATE,
                    contact_id INT(11),
                    account_id INT(11),
                    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
                 )""")

# Create the 'quotes' table
cursor.execute("""CREATE TABLE quotes (
                    id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
                    name VARCHAR(100),
                    amount DECIMAL(10,2),
                    opportunity_id INT(11),
                    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
                 )""")

In [4]:
from faker import Faker
import mysql.connector

# Create a connection to the MySQL server
cnx = mysql.connector.connect(user='root', password='Franciscan2012*', host='127.0.0.1', database='Python_CRM_Project')

# Create a cursor to execute SQL commands
cursor = cnx.cursor()

# Create a Faker object to generate fake data
fake = Faker()

In [5]:
# Generate and insert 100 fake contacts
for i in range(100):
    # Generate fake data
    first_name = fake.first_name()
    last_name = fake.last_name()
    email = fake.email()
    phone = fake.phone_number()[:20] # Truncate phone numbers to a maximum of 20 characters
    account_id = fake.random_int(min=1, max=100)

    # Insert the data into the 'contacts' table
    cursor.execute("INSERT INTO contacts (first_name, last_name, email, phone, account_id) VALUES (%s, %s, %s, %s, %s)",
                   (first_name, last_name, email, phone, account_id))

In [9]:
# Generate and insert 100 fake accounts
for i in range(100):
    # Generate fake data
    name = fake.company()
    website = fake.url()
    phone = fake.phone_number()[:20] # Truncate phone numbers to a maximum of 20 characters
    billing_street = fake.street_address()
    billing_city = fake.city()
    billing_state = fake.state()
    billing_country = fake.country()
    billing_postal_code = fake.zipcode()

    # Insert the data into the 'accounts' table
    cursor.execute("INSERT INTO accounts (name, website, phone, billing_street, billing_city, billing_state, billing_country, billing_postal_code) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)",
                   (name, website, phone, billing_street, billing_city, billing_state, billing_country, billing_postal_code))

In [12]:
# Generate and insert 100 fake opportunities
for i in range(100):
    # Generate fake data
    name = fake.catch_phrase()
    amount = random.uniform(1000, 100000)
    stage = random.choice(['Prospecting', 'Qualification', 'Needs Analysis', 'Value Proposition', 'Id. Decision Makers', 'Perception Analysis', 'Proposal/Price Quote', 'Negotiation/Review', 'Closed Won', 'Closed Lost'])
    close_date = fake.date_between(start_date='+1d', end_date='+1y')
    contact_id = fake.random_int(min=1, max=100)
    account_id = fake.random_int(min=1, max=100)

# Insert the data into the 'opportunities' table
    cursor.execute("INSERT INTO opportunities (name, amount, stage, close_date, contact_id, account_id) VALUES (%s, %s, %s, %s, %s, %s)",
                   (name, amount, stage, close_date, contact_id, account_id))

AttributeError: 'builtin_function_or_method' object has no attribute 'uniform'